footer {
    padding: 60px 0;
    background-color: $Dark__Blue;

    a {
        color: $White;
    }
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: $White;

    @include tablet {
        grid-template-columns: 1fr;
    }

    .footer__icons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include tablet {
            align-items: center;
        }
    }

    .footer__first {
        display: flex;

        @include tablet {
            flex-direction: column;

            .footer__logo {
                margin-bottom: 5px;
            }
        }

        .footer__social {
            a {
                margin: 0 3px;
            }
        }

        .footer__lists {
            display: flex;
            margin: 0 100px;
            gap: 50px;


            @include tablet {
                text-align: center;
                flex-direction: column;
                align-items: center;
            }

            li {
                margin: 20px 0;
            }
        }
    }

    .footer__last {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        color: $Grayish__Blue;

        @include tablet {
            justify-content: center;
            align-items: center;
        }

        .footer__copyright {
            margin-top: 10px;
        }
    }

}

.footer-col-2 {
    @include tablet {
        margin-top: -20px;
    }
}